.profile {
  font-family: Inter, Arial, sans-serif;
  max-width: 880px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: 150px minmax(336px, 1fr) 150px;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 730px;
    grid-template-columns: 120px minmax(336px, 1fr) 150px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 730px;
    grid-template-columns: 120px minmax(189px, 1fr) 150px;
    margin: 40px 19px 0;
  }
}

@media screen and (max-width: 619px) {
  .profile {
    max-width: 282px;
    display: block;
    margin: 42px auto 0;
  }
}
