.popup__infoTooltip {
  display: flex;
  margin: 60px auto 32px;
  background-image: url('../../../images/success.svg');
  background-image: url('../../../images/fail.svg');
}

@media screen and (max-width: 767px) {
  .popup__infoTooltip {
    margin: 50px auto 40px;
  }
}