.header__menu {
  display: none;
}

@media screen and (max-width: 619px) {
  .header__menu {
    display: block;
    width: 24px;
    height: 24px;
    border-style: none;
    background: none;
    background-image: url('../../../images/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .4s ease-in-out;
  }
}

.header__menu:hover {
  cursor: pointer;
  opacity: .6;
}
