.popup__infoTooltip-title {
  max-width: 358px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .popup__infoTooltip-title {
    font-size: 20px;
  }
}
