.element__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 18px;
  min-height: 19px;
  background: none;
  background-image: url('../../../images/trash.svg');
  border: none;
  background-repeat: no-repeat;
  background-position: right;
  transition: opacity .4s ease-in-out;
  visibility: hidden;
}

.element__trash:hover {
  cursor: pointer;
  opacity: .5;
}
