.element__like {
  min-width: 22px;
  min-height: 19px;
  background-image: url('../../../images/heart.svg');
  background-color: rgba(255, 255, 255, 1);
  border: none;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: opacity .4s ease-in-out;  
}

.element__like:hover {
  cursor: pointer;
  opacity: .5;
}
