.header__button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color:rgba(169, 169, 169, 1);
  transition: opacity .4s ease-in-out;
  background: none;
  border: none;
}

.header__button:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .header__button {
    font-size: 14px;
  }
}
