.auth__register-button {
  min-width: 358px;
  min-height: 50px;
  margin: 216px auto 0;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  transition: opacity .4s ease-in-out;
}

.auth__register-button:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .auth__register-button {
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    margin-top: 173px;
  }
}
