.profile__add-button-pluse {
  max-width: 22px;
  max-height: 22px;
  background-image: url('../../../images/add-button.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 619px) {
  .profile__add-button-pluse {
    max-width: 16px;
    max-height: 16px;
  }
}
